"""""""PHPSTORM .IDEAVIMRC""""""""""""""""""""""""""""""""""""""""""""""""""""

"""""""TEMPLATE"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
augroup TEMPLATE

augroup END

"""""""VIM """""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
augroup TEMPLATE
  source ~/.vimrc

augroup END

""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
"""""""PLUGIN CONFIGURATIONS""""""""""""""""""""""""""""""""""""""""""""""""""
""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""

""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
"""""""HELPER FUNCTIONS"""""""""""""""""""""""""""""""""""""""""""""""""""""""
""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
